<div class="main-content">
    <div class="card-header">
        <h1>Passwords</h1>
    </div>
    <div class="add-button">
        <a mat-raised-button color="primary" [routerLink]="['/detail']">Add Password</a>
    </div>

    <div class="password-search">
        <form role="form" [formGroup]="searchForm">
            <mat-form-field appearance="standard">
                <mat-label>Search Password</mat-label>
                <input matInput type="text" (ngModelChange)="onSearchPassword()" formControlName="searchText" />
            </mat-form-field>
        </form>
    </div>

    <div class="card-content">
        <mat-card *ngFor="let credential of credentials">
    
            <mat-card-footer>
                <div class="footer-title">
                    <mat-card-title>{{credential.name}}</mat-card-title>
                    <mat-card-subtitle>{{credential.url}}</mat-card-subtitle>
                </div>
                <div class="footer-actions">
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary" (click)="onEditCredential(credential)">
                            <mat-icon>edit</mat-icon> Edit
                        </button>
                        <button mat-button color="warn" (click)="onDeleteCredential(credential.id)">
                            <mat-icon>restore_from_trash</mat-icon> Delete
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card-footer>
            
        </mat-card>
    </div>
</div>
